.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to left, #bdc3c7 0%, #2c3e50 100%);
}
.home-navbar {
  width: 1554px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-navlink {
  display: contents;
}
.home-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.home-links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home-about-us-link {
  font-size: 17px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-services-link {
  font-size: 17px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.home-text {
  margin-right: var(--dl-space-space-tripleunit);
}
.home-tech-stack-link {
  font-size: 17px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-industreis-link {
  font-size: 17px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-contact-us-link {
  font-size: 17px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-get-pricing {
  color: #ffffff;
  font-family: "Poppins";
  border-color: #463e3e;
  text-decoration: none;
  background-color: #1c5361;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link1 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link2 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-container02 {
  width: 100%;
  height: 1041px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("public/hero-1100h.png");
  background-position: center;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: rgba(241, 241, 241, 0);
}
.home-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading01 {
  color: rgb(4, 4, 4);
  width: 732px;
  height: 464px;
  font-size: 50px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
}
.home-text06 {
  width: 732px;
  height: 464px;
  font-family: ""Poppins"";
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-about-us {
  width: 100%;
  height: 877px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #3c3737;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: #D9D9D9;
}
.home-max-content-width-container {
  width: 100%;
  height: 686px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text09 {
  width: 1273px;
  font-size: 40px;
  font-family: "Poppins";
}
.home-content-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.home-image01 {
  width: 582px;
  height: 502px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-about-1 {
  width: 1032px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon04 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
  min-width: 24px;
  min-height: 24px;
}
.home-text10 {
  font-size: 25px;
  font-style: normal;
  text-align: left;
  font-family: "Arial";
  font-weight: 700;
}
.home-container04 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon06 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
  min-width: 24px;
  min-height: 24px;
}
.home-text11 {
  font-size: 25px;
  font-style: normal;
  text-align: left;
  font-family: "Arial";
  font-weight: 700;
}
.home-container05 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon08 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
  min-width: 24px;
  min-height: 24px;
}
.home-text12 {
  font-size: 25px;
  font-style: normal;
  text-align: left;
  font-family: "Arial";
  font-weight: 700;
}
.home-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon10 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
  min-width: 24px;
  min-height: 24px;
}
.home-text13 {
  font-size: 25px;
  font-style: normal;
  text-align: left;
  font-family: "Arial";
  font-weight: 700;
}
.home-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon12 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
  min-width: 24px;
  min-height: 24px;
}
.home-text16 {
  font-size: 25px;
  font-style: normal;
  text-align: left;
  font-family: "Arial";
  font-weight: 700;
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon14 {
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-unit);
  min-width: 24px;
  min-height: 24px;
}
.home-text17 {
  font-size: 25px;
  font-style: normal;
  text-align: left;
  font-family: "Arial";
  font-weight: 700;
}
.home-services {
  width: 100%;
  height: 837px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: #ffffff;
}
.home-max-content-width-container1 {
  width: 100%;
  height: 1097px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-services1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text18 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text19 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-services2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-image02 {
  width: 200px;
  object-fit: cover;
}
.home-content-container01 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading02 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text21 {
  text-align: center;
}
.home-card1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-image03 {
  width: 200px;
  object-fit: cover;
}
.home-content-container02 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading03 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text22 {
  text-align: center;
}
.home-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-image04 {
  width: 200px;
  object-fit: cover;
}
.home-content-container03 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading04 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text23 {
  text-align: center;
}
.home-tech-stack {
  width: 100%;
  height: 886px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #3c3737;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: #D9D9D9;
}
.home-max-content-width-container2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-content-container04 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.home-about-11 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.home-container09 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon16 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text25 {
  text-align: left;
}
.home-container10 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon18 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text26 {
  text-align: left;
}
.home-container11 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon20 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text27 {
  text-align: left;
}
.home-about-12 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.home-container12 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon22 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text28 {
  text-align: left;
}
.home-container13 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon24 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text32 {
  text-align: left;
}
.home-container14 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon26 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text33 {
  text-align: left;
}
.home-industries {
  width: 1872px;
  height: 1411px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: #ffffff;
}
.home-max-content-width-container3 {
  width: 100%;
  height: 1097px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-services3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container3 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text34 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-services4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card3 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image05 {
  width: 200px;
  object-fit: cover;
}
.home-content-container05 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading05 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text37 {
  text-align: center;
}
.home-card4 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  width: 200px;
  object-fit: cover;
}
.home-content-container06 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading06 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text40 {
  text-align: center;
}
.home-card5 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image07 {
  width: 200px;
  object-fit: cover;
}
.home-content-container07 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading07 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text43 {
  text-align: center;
}
.home-card6 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container6 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image08 {
  width: 200px;
  object-fit: cover;
}
.home-content-container08 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading08 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text46 {
  text-align: center;
}
.home-card7 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container7 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image09 {
  width: 200px;
  object-fit: cover;
}
.home-content-container09 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading09 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text49 {
  text-align: center;
}
.home-card8 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container8 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image10 {
  width: 200px;
  object-fit: cover;
}
.home-content-container10 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading10 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text52 {
  text-align: center;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-get-in-touch {
  width: 100%;
  height: 859px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #3c3737;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-text53 {
  width: 309px;
  margin: var(--dl-space-space-tenunits);
  align-self: center;
  font-family: "Poppins";
}
.home-container15 {
  width: 100%;
  height: 349px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container16 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text54 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.home-text57 {
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
}
.home-text58 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.home-text59 {
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
}
.home-text60 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.home-text61 {
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
}
.home-text62 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.home-text63 {
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
}
.home-iframe {
  width: 554px;
  height: 450px;
  box-shadow: 5px 5px 10px 0px #696060;
  margin-left: var(--dl-space-space-fourunits);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container17 {
  width: 640px;
  height: 341px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.home-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-textinput {
  margin: var(--dl-space-space-unit);
}
.home-textinput1 {
  margin: var(--dl-space-space-unit);
}
.home-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-textinput2 {
  margin: var(--dl-space-space-unit);
}
.home-textinput3 {
  margin: var(--dl-space-space-unit);
}
.home-textinput4 {
  width: 613px;
  height: 135px;
  margin: var(--dl-space-space-unit);
}
.home-button {
  width: 213px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  background-color: transparent;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.home-text67 {
  color: #ffffff;
}
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-text70 {
  font-family: "Arial Black";
}
.home-link4 {
  font-family: "Arial Black";
}
.home-link5 {
  font-family: "Arial Black";
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link6 {
  text-align: left;
  font-family: "Arial Black";
  text-transform: capitalize;
}
@media(max-width: 1600px) {
  .home-container {
    z-index: 95;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .home-links-container {
    align-self: center;
  }
  .home-about-us-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .home-services-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-tech-stack-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-industreis-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .home-text04 {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .home-contact-us-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .home-get-pricing {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    border-color: #463e3e;
    background-color: rgb(28, 83, 97);
  }
  .home-container02 {
    z-index: 100;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-heading01 {
    color: rgb(4, 4, 4);
    width: 686px;
    font-size: 24px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
  }
  .home-text06 {
    font-size: 45px;
    font-family: Poppins;
  }
  .home-text07 {
    font-size: 45px;
  }
  .home-about-us {
    height: 762px;
    z-index: 99;
    box-shadow: 5px 5px 10px 0px #3c3737;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-heading-container {
    width: 1329px;
  }
  .home-text09 {
    font-size: 35px;
    font-family: Poppins;
    text-transform: uppercase;
  }
  .home-content-container {
    width: 1426px;
  }
  .home-image01 {
    width: 577px;
    height: 437px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-about-1 {
    width: 871px;
    height: 451px;
  }
  .home-text10 {
    font-size: 25px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
  }
  .home-text11 {
    font-size: 25px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
  }
  .home-text12 {
    font-size: 25px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
  }
  .home-text13 {
    font-size: 25px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
  }
  .home-text14 {
    font-size: 25px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
  }
  .home-text16 {
    font-size: 25px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
  }
  .home-text17 {
    font-size: 25px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
  }
  .home-services {
    height: 960px;
    z-index: 98;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-image02 {
    height: 173px;
  }
  .home-tech-stack {
    z-index: 97;
    box-shadow: 5px 5px 10px 0px #3c3737;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-industries {
    height: 1254px;
    box-shadow: 5px 5px 10px 0px #000000;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-get-in-touch {
    height: 766px;
    z-index: 94;
    box-shadow: 5px 5px 10px 0px #3c3737;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-container16 {
    height: 427px;
  }
  .home-text54 {
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .home-text57 {
    font-family: Overpass;
  }
  .home-text58 {
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .home-text59 {
    font-family: Overpass;
  }
  .home-text60 {
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .home-text61 {
    font-family: Overpass;
  }
  .home-text62 {
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .home-text63 {
    font-family: Overpass;
  }
  .home-iframe {
    width: 476px;
    height: 436px;
    box-shadow: 5px 5px 10px 0px #696060;
    border-color: var(--dl-color-gray-500);
    border-style: solid;
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-container17 {
    width: 614px;
    height: 442px;
  }
  .home-textinput4 {
    width: 605px;
    height: 192px;
  }
}
@media(max-width: 1200px) {
  .home-navbar {
    width: 100%;
  }
  .home-about-us-link {
    font-size: 18px;
  }
  .home-services-link {
    font-size: 18px;
  }
  .home-text {
    font-size: 18px;
  }
  .home-tech-stack-link {
    font-size: 18px;
  }
  .home-industreis-link {
    font-size: 18px;
  }
  .home-text04 {
    font-size: 18px;
  }
  .home-contact-us-link {
    font-size: 18px;
  }
  .home-text09 {
    width: 1111px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    font-family: Poppins;
  }
  .home-about-1 {
    width: 581px;
  }
  .home-max-content-width-container3 {
    width: 1200px;
    height: 1081px;
  }
  .home-services4 {
    width: 1200px;
  }
  .home-text52 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-get-in-touch {
    height: 637px;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text53 {
    width: 202px;
    height: 62px;
    margin: var(--dl-space-space-fiveunits);
    font-family: Poppins;
  }
  .home-container16 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-iframe {
    width: 396px;
    height: 402px;
    box-shadow: 5px 5px 10px 0px #696060;
    border-color: var(--dl-color-gray-500);
    border-style: solid;
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-container17 {
    width: auto;
    height: 100%;
    justify-content: flex-start;
  }
  .home-textinput1 {
    width: 206px;
    height: 37px;
  }
  .home-textinput3 {
    width: 208px;
    height: 33px;
  }
  .home-textinput4 {
    width: 450px;
  }
}
@media(max-width: 991px) {
  .home-links-container {
    align-self: flex-start;
  }
  .home-about-us-link {
    font-size: 14px;
  }
  .home-services-link {
    font-size: 14px;
  }
  .home-tech-stack-link {
    font-size: 14px;
  }
  .home-industreis-link {
    font-size: 14px;
  }
  .home-contact-us-link {
    font-size: 14px;
  }
  .home-heading {
    text-align: center;
  }
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading01 {
    text-align: center;
  }
  .home-text06 {
    text-align: center;
  }
  .home-container16 {
    width: 145px;
  }
  .home-text54 {
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .home-text63 {
    font-size: 14px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 400;
  }
  .home-iframe {
    width: 307px;
  }
  .home-container17 {
    width: 389px;
  }
  .home-textinput {
    width: 193px;
    height: 41px;
  }
  .home-textinput1 {
    width: 158px;
    height: 42px;
  }
  .home-textinput2 {
    width: 198px;
    height: 37px;
  }
  .home-textinput3 {
    width: 150px;
    height: 41px;
  }
  .home-textinput4 {
    width: 371px;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-heading-container {
    width: 100%;
  }
  .home-text09 {
    text-align: center;
  }
  .home-content-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-about-1 {
    width: 65%;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-services2 {
    align-items: center;
    flex-direction: column;
  }
  .home-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-text24 {
    text-align: center;
  }
  .home-content-container04 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-about-11 {
    width: 65%;
  }
  .home-about-12 {
    width: 65%;
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-services4 {
    align-items: center;
    flex-direction: column;
  }
  .home-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card6 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card7 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card8 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-iframe {
    width: 0px;
    visibility: hidden;
  }
}
@media(max-width: 479px) {
  .home-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-about-1 {
    width: 100%;
  }
  .home-text18 {
    text-align: center;
  }
  .home-text19 {
    text-align: center;
  }
  .home-card {
    width: 100%;
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-about-11 {
    width: 100%;
  }
  .home-about-12 {
    width: 100%;
  }
  .home-text34 {
    text-align: center;
  }
  .home-text35 {
    text-align: center;
  }
  .home-card3 {
    width: 100%;
  }
  .home-card4 {
    width: 100%;
  }
  .home-card5 {
    width: 100%;
  }
  .home-card6 {
    width: 100%;
  }
  .home-card7 {
    width: 100%;
  }
  .home-card8 {
    width: 100%;
  }
}
