.pricing-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pricing-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to left, #bdc3c7 0%, #2c3e50 100%);
}
.pricing-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.pricing-navlink {
  display: contents;
}
.pricing-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.pricing-links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pricing-about-us-link {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
  text-decoration: none;
}
.pricing-services-link {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.pricing-text {
  margin-right: var(--dl-space-space-tripleunit);
}
.pricing-tech-stack-link {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
  text-decoration: none;
}
.pricing-industries-link {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
  text-decoration: none;
}
.pricing-contact-us-link {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
  text-decoration: none;
}
.pricing-get-pricing {
  color: #ffffff;
  font-family: "Poppins";
  border-color: #463e3e;
  text-decoration: none;
  background-color: #1c5361;
}
.pricing-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.pricing-icon {
  width: 36px;
  height: 36px;
}
.pricing-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.pricing-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.pricing-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing-icon2 {
  width: 24px;
  height: 24px;
}
.pricing-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing-link {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-link1 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-link2 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.pricing-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.pricing-pricing {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #3c3737;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-900);
  background-image: url();
}
.pricing-max-content-width-container {
  width: 1310px;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  box-shadow: 5px 5px 10px 0px #2f2b2b;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #ffffff;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.pricing-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.pricing-text06 {
  width: 731px;
  margin: var(--dl-space-space-unit);
  font-size: 40px;
  font-family: "Poppins";
}
.pricing-text07 {
  margin: var(--dl-space-space-doubleunit);
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container02 {
  width: 573px;
  height: 202px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox {
  align-self: center;
}
.pricing-text08 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container04 {
  margin: 0px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox01 {
  align-self: center;
}
.pricing-text11 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox02 {
  align-self: center;
}
.pricing-text14 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox03 {
  align-self: center;
}
.pricing-text17 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox04 {
  align-self: center;
}
.pricing-text20 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container08 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pricing-text23 {
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container09 {
  width: 573px;
  height: 258px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox05 {
  align-self: center;
}
.pricing-text24 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container11 {
  margin: 0px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox06 {
  align-self: center;
}
.pricing-text27 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox07 {
  align-self: center;
}
.pricing-text30 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox08 {
  align-self: center;
}
.pricing-text33 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox09 {
  align-self: center;
}
.pricing-text36 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-text39 {
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container15 {
  width: 573px;
  height: 150px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox10 {
  align-self: center;
}
.pricing-text40 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container17 {
  margin: 0px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox11 {
  align-self: center;
}
.pricing-text43 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox12 {
  align-self: center;
}
.pricing-text44 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox13 {
  align-self: center;
}
.pricing-text47 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.pricing-checkbox14 {
  align-self: center;
}
.pricing-text50 {
  font-size: 25px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}
.pricing-button {
  color: #ffffff;
  width: 436px;
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #696767;
  margin-top: 60px;
  font-family: "Overpass";
  background-color: transparent;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.pricing-text53 {
  font-family: "Poppins";
}
.pricing-get-in-touch {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #3c3737;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.pricing-text56 {
  margin-top: var(--dl-space-space-tenunits);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.pricing-container21 {
  width: 100%;
  height: 841px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-container22 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.pricing-text57 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.pricing-text60 {
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
}
.pricing-text61 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.pricing-text62 {
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
}
.pricing-text63 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.pricing-text64 {
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
}
.pricing-text65 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.pricing-text66 {
  font-family: "Overpass";
}
.pricing-container23 {
  flex: 0 0 auto;
  width: 554px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing-iframe {
  width: 554px;
  height: 450px;
  box-shadow: 5px 5px 10px 0px #696060;
  margin-left: var(--dl-space-space-fourunits);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
}
.pricing-container24 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pricing-text70 {
  font-size: 30px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.pricing-container25 {
  width: 640px;
  height: 341px;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  flex-direction: column;
}
.pricing-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.pricing-textinput {
  margin: var(--dl-space-space-unit);
}
.pricing-textinput1 {
  margin: var(--dl-space-space-unit);
}
.pricing-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.pricing-textinput2 {
  margin: var(--dl-space-space-unit);
}
.pricing-textinput3 {
  margin: var(--dl-space-space-unit);
}
.pricing-container28 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.pricing-textinput4 {
  width: 477px;
  height: 135px;
  margin: var(--dl-space-space-unit);
}
.pricing-button1 {
  width: 213px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  background-color: transparent;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.pricing-text71 {
  color: #ffffff;
}
.pricing-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.pricing-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.pricing-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.pricing-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.pricing-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.pricing-container29 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.pricing-text74 {
  font-family: "Arial Black";
}
.pricing-link4 {
  font-family: "Arial Black";
}
.pricing-link5 {
  font-family: "Arial Black";
}
.pricing-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.pricing-link6 {
  text-align: left;
  font-family: "Arial Black";
  text-transform: capitalize;
}
@media(max-width: 1600px) {
  .pricing-links-container {
    align-self: center;
  }
  .pricing-about-us-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .pricing-services-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
  }
  .pricing-tech-stack-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
  }
  .pricing-industries-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .pricing-contact-us-link {
    font-size: 20px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .pricing-get-pricing {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    border-color: #463e3e;
    background-color: rgb(28, 83, 97);
  }
  .pricing-pricing {
    height: 1023px;
    z-index: 100;
    box-shadow: 5px 5px 10px 0px #3c3737;
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-bottom: var(--dl-space-space-unit);
  }
  .pricing-max-content-width-container {
    height: 1325px;
    margin: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .pricing-heading-container {
    width: 1329px;
    margin-bottom: 0px;
  }
  .pricing-text06 {
    width: 855px;
    font-family: Poppins;
    text-transform: uppercase;
  }
  .pricing-container02 {
    height: 194px;
  }
  .pricing-text08 {
    font-size: 25px;
  }
  .pricing-text11 {
    font-size: 25px;
  }
  .pricing-text14 {
    font-size: 25px;
  }
  .pricing-text17 {
    font-size: 25px;
  }
  .pricing-text20 {
    font-size: 25px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
  }
  .pricing-container09 {
    height: 200px;
  }
  .pricing-text24 {
    font-size: 25px;
  }
  .pricing-text27 {
    font-size: 25px;
  }
  .pricing-text30 {
    font-size: 25px;
  }
  .pricing-text33 {
    font-size: 25px;
  }
  .pricing-text36 {
    font-size: 25px;
  }
  .pricing-container15 {
    height: 192px;
  }
  .pricing-text40 {
    font-size: 25px;
  }
  .pricing-text43 {
    font-size: 25px;
  }
  .pricing-text44 {
    font-size: 25px;
  }
  .pricing-text47 {
    font-size: 25px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
  }
  .pricing-text50 {
    font-size: 25px;
  }
  .pricing-button {
    height: 68px;
    margin-top: 30px;
  }
  .pricing-get-in-touch {
    height: 806px;
    z-index: 94;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .pricing-container22 {
    height: 427px;
    align-items: flex-start;
    margin-left: var(--dl-space-space-tenunits);
  }
  .pricing-text57 {
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .pricing-text60 {
    font-family: Overpass;
  }
  .pricing-text61 {
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .pricing-text62 {
    font-family: Overpass;
  }
  .pricing-text63 {
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .pricing-text64 {
    font-family: Overpass;
  }
  .pricing-text65 {
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .pricing-text66 {
    font-family: Overpass;
  }
  .pricing-iframe {
    width: 476px;
    height: 436px;
    box-shadow: 5px 5px 10px 0px #696060;
    border-color: var(--dl-color-gray-500);
    border-style: solid;
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .pricing-container25 {
    width: 614px;
    height: 442px;
  }
  .pricing-container28 {
    width: auto;
    align-items: center;
  }
  .pricing-textinput4 {
    width: 200%;
    height: 192px;
  }
}
@media(max-width: 1200px) {
  .pricing-about-us-link {
    font-size: 18px;
  }
  .pricing-services-link {
    font-size: 18px;
  }
  .pricing-text {
    font-size: 18px;
  }
  .pricing-tech-stack-link {
    font-size: 18px;
  }
  .pricing-industries-link {
    font-size: 18px;
  }
  .pricing-contact-us-link {
    font-size: 18px;
  }
  .pricing-max-content-width-container {
    width: 1144px;
  }
  .pricing-text20 {
    font-size: 25px;
  }
  .pricing-get-in-touch {
    height: 637px;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .pricing-container22 {
    width: auto;
    margin-left: var(--dl-space-space-doubleunit);
  }
  .pricing-container23 {
    width: auto;
  }
  .pricing-iframe {
    width: 396px;
    height: 402px;
    box-shadow: 5px 5px 10px 0px #696060;
    border-color: var(--dl-color-gray-500);
    border-style: solid;
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
    border-bottom-left-radius: var(--dl-radius-radius-radius8);
    border-bottom-right-radius: var(--dl-radius-radius-radius8);
  }
  .pricing-container24 {
    width: auto;
  }
  .pricing-text70 {
    margin: var(--dl-space-space-fiveunits);
    font-size: 25px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .pricing-container25 {
    width: auto;
    height: 100%;
    justify-content: flex-start;
  }
  .pricing-textinput1 {
    width: 206px;
    height: 37px;
  }
  .pricing-textinput3 {
    width: 208px;
    height: 33px;
  }
  .pricing-textinput4 {
    width: 450px;
  }
}
@media(max-width: 991px) {
  .pricing-navbar {
    position: relative;
  }
  .pricing-links-container {
    top: 24px;
    right: 24px;
    width: 764px;
    position: absolute;
    align-self: center;
  }
  .pricing-heading {
    text-align: center;
  }
  .pricing-pricing {
    width: 100%;
  }
  .pricing-max-content-width-container {
    width: 971px;
  }
  .pricing-get-in-touch {
    height: 634px;
  }
  .pricing-container22 {
    width: 145px;
  }
  .pricing-text57 {
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .pricing-text66 {
    font-size: 14px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 400;
  }
  .pricing-iframe {
    width: 307px;
  }
  .pricing-text70 {
    font-size: 23px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .pricing-container25 {
    width: 389px;
  }
  .pricing-textinput {
    width: 193px;
    height: 41px;
  }
  .pricing-textinput1 {
    width: 158px;
    height: 42px;
  }
  .pricing-textinput2 {
    width: 198px;
    height: 37px;
  }
  .pricing-textinput3 {
    width: 150px;
    height: 41px;
  }
  .pricing-textinput4 {
    width: 371px;
  }
}
@media(max-width: 767px) {
  .pricing-links-container {
    display: none;
  }
  .pricing-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .pricing-icon {
    fill: var(--dl-color-gray-white);
  }
  .pricing-pricing {
    width: 100%;
  }
  .pricing-max-content-width-container {
    width: 100%;
  }
  .pricing-heading-container {
    width: 100%;
  }
  .pricing-text06 {
    width: fit-content;
    font-size: revert;
    text-align: center;
  }
  .pricing-text56 {
    text-align: center;
  }
  .pricing-iframe {
    width: 89px;
    visibility: hidden;
  }
}
@media(max-width: 479px) {
  .pricing-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}
