.test-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.test-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.test-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.test-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.test-container02 {
  width: 100%;
  height: 798px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("public/hero-1500w.png");
  background-position: center;
}
.test-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: rgba(241, 241, 241, 0);
}
.test-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.test-heading {
  color: #040404;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.test-container03 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.test-services {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.test-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.test-text {
  margin-bottom: var(--dl-space-space-fourunits);
}
.test-text01 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.test-container04 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.test-products {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.test-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.test-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.test-content-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.test-about-1 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.test-container05 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.test-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.test-text06 {
  text-align: left;
}
.test-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.test-icon02 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.test-text07 {
  text-align: left;
}
.test-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.test-icon04 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.test-text08 {
  text-align: left;
}
.test-about-11 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.test-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.test-icon06 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.test-text09 {
  text-align: left;
}
.test-container09 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.test-icon08 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.test-text13 {
  text-align: left;
}
.test-container10 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.test-icon10 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.test-text14 {
  text-align: left;
}
.test-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.test-clients {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.test-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.test-text15 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.test-logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.test-logo {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.test-logo1 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.test-logo2 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.test-logo3 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.test-logo4 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.test-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.test-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.test-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.test-about-us {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.test-container11 {
  width: 60%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.test-text16 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.test-heading-container3 {
  width: 200px;
  height: 33px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.test-text17 {
  font-family: "Arial Black";
}
.test-textinput {
  width: 50%;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.test-heading-container4 {
  width: 200px;
  height: 33px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.test-text18 {
  font-family: "Arial Black";
}
.test-textinput1 {
  width: 50%;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.test-text19 {
  font-family: "Arial Black";
}
.test-textinput2 {
  width: 954px;
  height: 181px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.test-button {
  color: #ffffff;
  width: 315px;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  margin-left: 260px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: uppercase;
  background-color: transparent;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.test-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.test-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.test-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.test-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.test-text20 {
  font-family: "Arial Black";
}
.test-link {
  font-family: "Arial Black";
}
.test-link1 {
  font-family: "Arial Black";
}
.test-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.test-link2 {
  text-align: left;
  font-family: "Arial Black";
  text-transform: capitalize;
}
@media(max-width: 1600px) {
  .test-container03 {
    height: 674px;
  }
  .test-services {
    height: 590px;
  }
  .test-container11 {
    height: 643px;
  }
  .test-button {
    width: 284px;
  }
}
@media(max-width: 1200px) {
  .test-heading-container3 {
    width: 201px;
    height: 27px;
  }
  .test-text17 {
    font-family: Arial Black;
  }
  .test-textinput {
    height: 6px;
  }
  .test-heading-container4 {
    width: 193px;
    height: 24px;
  }
  .test-text18 {
    font-family: Arial Black;
  }
  .test-textinput1 {
    height: 15px;
  }
  .test-text19 {
    font-family: Arial Black;
  }
  .test-textinput2 {
    width: 527px;
    height: 103px;
  }
  .test-button {
    color: var(--dl-color-gray-white);
    width: 301px;
    align-self: center;
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 991px) {
  .test-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .test-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .test-heading {
    text-align: center;
  }
  .test-textinput {
    width: 317px;
    height: 30px;
  }
  .test-textinput2 {
    width: 441px;
  }
  .test-button {
    width: 273px;
    align-self: center;
  }
}
@media(max-width: 767px) {
  .test-heading-container {
    width: 100%;
  }
  .test-heading-container1 {
    width: 100%;
  }
  .test-text03 {
    text-align: center;
  }
  .test-text04 {
    text-align: center;
  }
  .test-content-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .test-about-1 {
    width: 65%;
  }
  .test-about-11 {
    width: 65%;
  }
  .test-heading-container2 {
    width: 100%;
  }
  .test-about-us {
    flex-direction: column;
  }
  .test-container11 {
    width: 100%;
    align-items: center;
  }
  .test-text16 {
    text-align: center;
  }
  .test-heading-container3 {
    width: 100%;
  }
  .test-textinput {
    width: 100%;
  }
  .test-heading-container4 {
    width: 100%;
  }
  .test-textinput1 {
    width: 100%;
  }
  .test-text19 {
    align-self: flex-start;
  }
  .test-textinput2 {
    width: 610px;
  }
  .test-button {
    width: 328px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
  }
  .test-link2 {
    font-size: 13px;
    text-align: right;
    font-family: Arial Black;
    text-transform: capitalize;
  }
}
@media(max-width: 479px) {
  .test-hero-text-container {
    width: 100%;
  }
  .test-text {
    text-align: center;
  }
  .test-text01 {
    text-align: center;
  }
  .test-about-1 {
    width: 100%;
  }
  .test-about-11 {
    width: 100%;
  }
  .test-text15 {
    text-align: center;
  }
  .test-container11 {
    height: 574px;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .test-text19 {
    align-self: flex-start;
  }
  .test-textinput2 {
    width: 422px;
  }
  .test-button {
    width: 184px;
    align-self: center;
    margin-left: var(--dl-space-space-unit);
  }
  .test-text20 {
    font-size: 12px;
    font-family: Arial Black;
  }
  .test-link {
    font-size: 12px;
    font-family: Arial Black;
  }
  .test-link1 {
    font-size: 12px;
    font-family: Arial Black;
  }
  .test-link2 {
    text-transform: capitalize;
  }
}
